<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %} SILENUS {% endblock %}</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='/styles/style.css')}}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">SILENUS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                </button>
  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
      <div>
        <ul class="navbar-nav">
        <li class="nav-item active">
        <a class="nav-link" href="/upload"> Image Upload <span class="sr-only">(current)</span></a>
        </li>
            <li class="nav-item">
        <a class="nav-link" href="/urlupload">URL Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/preprocessing">Preprocessing</a>
      </li>


        </div>
       <div class="login_logout d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
</div>
    </ul>
       </div>
  </div>
</nav>
    {% block content%}

    {% endblock %}

<div class="footer">
    <footer>
    <p>Developed by Eunice Tudela de Azevedo [March 2022]</p>
    </footer>
    </div>
    </body>
</html>