{% extends "base.html" %}

    {% block title %}
     SILENUS
    {% endblock %}

    {% block content %}

    <div class="index__container">

        <image class="main_image" src="{{ url_for('static', filename='/images/silenus-mask.jpeg')}}">
        </image>


        <div class="text__both">
        <div class="index__title">
                <h2> SILENUS  </h2>
                <h4> OCR companion</h4>
            </div>
<br/>
     <div class="index__text">

            <p> Like Silenus to Dyonisus, this tool aims to help academic researchers
                that need to extract searchable and editable text from digitalized or photographed documents.  </p>
            </div>

        </div>
    {% endblock %}