{% extends "base.html" %}

    {% block title %}
     SILENUS
    {% endblock %}

    {% block content %}


    <div class="index__container">

        <image class="main_image" src="{{ url_for('static', filename='/images/silenus-mod.png')}}">
        </image>


        <div class="text__both">
<br/>
     <div class="index__text">

            <p> Like Silenus to Dionysus, this OCR tool is a companion for researchers in the Arts and Humanities.</p>
            </div>

        </div>

    {% endblock %}